{{> head}}
{{!-- {{> nav}} --}}
{{> header}}

{{{body}}}
{{> footer}}

<!-- Bootstrap JS for dropdowns (must come last) -->
=======
<!-- Bootstrap JS with NO integrity check -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
