<!-- Header Partial -->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <!-- Logo / Brand -->
      <a class="navbar-brand" href="/">Map Mosaic</a>

      <!-- Hamburger Toggle Button (Mobile) -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible Navbar Content -->
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- Dropdown Menu -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="/images/menubars.png" alt="Menu Icon" width="40" height="40">
            </a>
            <ul class="dropdown-menu" aria-labelledby="menuDropdown">
              <li><a class="dropdown-item" href="/">Home</a></li>
              <li><a class="dropdown-item" href="/trips">Trips</a></li>
              <li><a class="dropdown-item" href="/profile">Profile</a></li>
            </ul>
          </li>
        </ul>

        <!-- Auth Buttons -->
        <ul class="navbar-nav ms-auto">
          {{#if user}}
            <li class="nav-item">
              <button class="nav-link" onclick="window.location.href='/logout'">Logout</button>
            </li>
          {{else}}
            <li class="nav-item">
              <button class="nav-link" onclick="window.location.href='/login'">Login</button>
            </li>
          {{/if}}
        </ul>
      </div>
    </div>
  </nav>
</header>


