{{!-- {{> header}} --}}

<div class="container mt-5">
  <h1 class="mb-4">About Us</h1>
  <p>
    Welcome to Map Mosaic! We're a team of travelers, developers, 
    passionate about making your adventures memorable and organized.
  </p>

  <p>
    Our mission is to give users a seamless way to plan, share, and revisit their trips.
    Whether you're a solo explorer or a group adventurer, Map Mosaic is here to map your story.
  </p>

  <p>
    Built by students, designed for explorers.
  </p>
</div>

<!-- CARDS 1-6 -->
<div class="row row-cols-1 row-cols-md-3 g-4 mt-4">
  {{!-- Member 1 --}}
  <div class="col">
    <div class="card h-100">
        <img src="/images/doodles/Chandler.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Member 1" style="width: 150px; height: 150px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Chandler</h5>
        <p class="card-text"> description ...</p>
      </div>
    </div>
  </div>

  {{!-- Member 2 --}}
  <div class="col">
    <div class="card h-100">
        <img src="/images/doodles/Ben.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Member 1" style="width: 150px; height: 150px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Ben</h5>
        <p class="card-text">description ...</p>
      </div>
    </div>
  </div>

  <!-- Member 3 -->
  <div class="col">
    <div class="card h-100">
      <img src="/images/doodles/Javon.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Member 1" style="width: 150px; height: 150px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Jevan</h5>
        <p class="card-text">description ...</p>
      </div>
    </div>
  </div>

  <!-- Member 4 -->
  <div class="col">
    <div class="card h-100">
<img src="/images/doodles/Treyanna.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Member 1" style="width: 150px; height: 150px; object-fit: cover;">     
 <div class="card-body">
        <h5 class="card-title">Treyanna</h5>
        <p class="card-text">description ...</p>
      </div>
    </div>
  </div>

  <!-- Member 5 -->
  <div class="col">
    <div class="card h-100">
    <img src="/images/doodles/Johnny.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Member 1" style="width: 150px; height: 150px; object-fit: cover;">     
     <div class="card-body">
        <h5 class="card-title">Jonny</h5>
        <p class="card-text">description ...</p>
      </div>
    </div>
  </div>

  <!-- Member 6 -->
  <div class="col">
    <div class="card h-100">
      <img src="/images/doodles/Juliana.jpg" class="card-img-top rounded-circle mx-auto mt-3" alt="Member 1" style="width: 150px; height: 150px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">Juliana</h5>
        <p class="card-text">description ...</p>
      </div>
    </div>
  </div>
</div>
