{{!-- {{> header}} --}}

<div class="container mt-5">
  <h1 class="mb-4">About Us</h1>
  <p>
    Welcome to Map Mosaic! We're a team of travelers, developers, 
    passionate about making your adventures memorable and organized.
  </p>

  <p>
    Our mission is to give users a seamless way to plan, share, and revisit their trips.
    Whether you're a solo explorer or a group adventurer, Map Mosaic is here to map your story.
  </p>

  <p>
    Built by students, designed for explorers.
  </p>
</div>

{{!-- {{> footer}} --}}
