  <h1>Frequently Asked Questions</h1>

<div class="faq-container mb-4" style="margin-left: 30px;">
      <div class="faq-item">
        <h2>How Do I Add a Trip?</h2>
        <p>Navigate to your Trips tab and click on the + new trip button.</p>
      </div>

        <div class="faq-item">
            <h2>What is MapMosaic ? </h2>
            <p>Map Mosaic is an innovative travel application designed to help users document and explore every U.S. state and other country they visit. The app serves not only as a digital travel journal but also as a personalized reference tool, keeping users connected to their past journeys.</p>
      </div>

        <div class="faq-item">
            <h2>How Do I Add a Trip?</h2>
            <p>Navigate to your Trips tab and click on the + new trip button.</p>
      </div>
</div>

</body>
</html>