{{> message}}
<header>
    <h1 style="font: size 3em;">
        Welcome to Map Mosaic! 
    </h1>
    <h2>
        --This page is where the globe will be integrated
        <div id="map" style="width: 100%; height: 500px;"></div>
        <script src="/js/globe.js"></script>

    </h2>
</header>