{{> message}}

<div class="container mt-5">
  <h1 class="mb-4 text-center">Your Account</h1>

  <div class="row g-4">
    <!-- Account Info -->
    <div class="col-md-4">
      <div class="profile-card">
        <h4>Account Information</h4>

        <!-- Username -->
        <div class="profile-field">
            <input
                type="text"
                value="{{user.username}}"
                readonly
            />
        </div>


        <!-- Password Update -->
        <div class="profile-field password-field">
          <div class="password-edit-wrapper">
            <input
              type="password"
              class="current-password-input mb-2"
              placeholder="Current password"
              style="display: none;"
            />
            <input
              type="password"
              class="editable-field mb-2"
              placeholder="New password"
              readonly
              data-field="password"
            />
            <input
              type="password"
              class="confirm-password-input mb-2"
              placeholder="Confirm new password"
              style="display: none;"
            />
          </div>
          <i class="fa-solid fa-pen-to-square edit-icon"></i>
        </div>
      </div>
    </div>

    <!-- Stats -->
    <div class="col-md-4">
      <div class="profile-card">
        <h4>Your Stats</h4>
        <div class="profile-field">
          <input type="text" value="You’ve visited __ countries!" readonly />
        </div>
        <div class="profile-field">
          <input type="text" value="You’ve visited __ states!" readonly />
        </div>
        <div class="profile-field">
          <input type="text" value="You’ve a total of __ trips!" readonly />
        </div>
      </div>
    </div>

    <!-- Most Recent Trip -->
    <div class="col-md-4">
      <div class="profile-card text-center">
        <h4>Your Most Recent Trip</h4>
        <img src="/images/sample-trip.jpg" alt="Recent Trip" class="img-fluid rounded mb-3" />
        <p class="fw-bold">Nashville, Tennessee</p>
        <a href="/trips/new" class="btn login-btn">Post a new trip!</a>
      </div>
    </div>
  </div>
</div>
