{{> message}}
<header>
    <h1 style="font: size 2em;">
        Your Account
    </h1>
</header>

<div class="row d-flex">
    <div class="col-md-4 mb-4">
        <div class="card" style="display: flex;">
            <div class="card-body">
                <h3 class="card-title" style="text-align: center;">Account Information</h3>
                <h5 class="card-title mt-2">Name: </h5>
                <h5 class="card-title">Email: </h5>
                <h5 class="card-title">Password: </h5>
            </div>
        </div>
    </div>

        <div class="col-md-4 mb-4">
            <div class="card" style="display: flex;">
                <h3 class="card-title mt-3"  style="text-align: center;" >Your Most Recent Trip!</h3>
                <img src=" " class="card-img-top" alt="Image of Most Recent Trip">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <h5 class="card-title">Date</h5>
                </div>
            </div>
        </div>

</div>