<form method="post" action="/register">
    <label for="username">Username</label>
    <br/>
    <input type="username" name="username" /><br />
    <label for="password">Password</label>
    <br/>
    <input type="password" name="password" /><br />
    <input type="submit" value = "Register"/>
    <p>Already have an account?</p>
    <a href="/login">Login</a>
</form>